<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>聊天室</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.js"></script>
</head>
<body>
    <p>当前账号：{{username}}</p>
    <div id="chat" style="width:300px;height: 300px;border:1px solid #000">
        <!-- 聊天室窗口-->

    </div>
    <input type="text" name="content" id="content">
    <input id='btn' type="button" value="发送" >

    <script>
        //创建websocket连接对象
        var websocket = new WebSocket('ws://127.0.0.1:80/chat');
        // 监听后端消息
        websocket.onmessage = function (e) {
            // 不断追加内容
            $('#chat').append('<br/>'+ e.data)
        }

        //向后端发送消息
        $('#btn').click(function () {
            var content = $('#content').val();
            websocket.send(content)
        })
    </script>

</body>
</html>